{
    auto_https off
}

:80, www.server96.com, server96.com {
    @subdomain header_regexp sub Host ^([^.]+)\.server96\.com

    handle @subdomain {
        root * /var/www/portfolios/{re.sub.1}
        file_server
        try_files {path} {path}/ /index.html
    }

    handle {
        reverse_proxy frontend:3000
    }
}

